* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainContainer {
  background-color: #fefefe;
  padding: 8px;
  box-shadow: 1px 4px 4px #b0bccea6;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 8px;
}
.header {
  font-size: 36px;
}
