* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainContainer {
  background-color: #fefefe;
  padding: 10px;
  box-shadow: 1px 2px 2px #b0bccea6;
  border-radius: 8px;
  overflow: hidden;
  min-height: 540px;
  margin-bottom: 8px;
  box-shadow: -1px 1px 6px 2px rgba(186, 186, 186, 0.75);
  -webkit-box-shadow: -1px 1px 6px 2px rgba(186, 186, 186, 0.75);
  -moz-box-shadow: -1px 1px 6px 2px rgba(186, 186, 186, 0.75);
}

.header {
  font-size: 26px;
}

.icons-style {
  font-size: 18px;
  color: rgb(131, 137, 137);
}

.icons-style:hover {
  color: black;
}

.party-details {
  border: 2px solid black;
}

/* fixed side bar */
.two-hundred {
  margin-left: 200px;
  transition: all 0.3s ease;
}
.hundred {
  margin-left: 80px;
  transition: all 0.3s ease;
}
